#fbg { 
    background-image:url("https://www.quackit.com/html/templates/download/bootstrap/business-2/images/header.jpg");
    background-size:cover;
    height: 900px;


}
#idiv {
    margin-top:100px;
}
#idiv span { 
    font-size:55px; 
    color: aliceblue;

}
#idiv p { 
    font-size: 20px; color:aliceblue;

}

#qe { 
    background-color: #9acd32;

}
#qe h3 { 
    font-size: 30px;
    color:aliceblue;

}

#qe p { font-size:20px;
    color: azure;

}
.conta h1{ 
    color:aliceblue;


}
.cola {
    background-image:url("https://www.quackit.com/html/templates/download/bootstrap/business-2/images/writing.jpg");
    background-size:cover;
    background-position: center;
    
}
.colo {
    background-image:url("https://www.quackit.com/html/templates/download/bootstrap/business-2/images/concert.jpg");
    background-size:cover;
    background-position: center;
}
.cole {
    background-image:url("https://www.quackit.com/html/templates/download/bootstrap/business-2/images/pencil_sharpener.jpg");
    background-size:cover;
    background-position:center;
}
#rowe { 
    height:200px;
    
}
#rowe h1{ 
    color:aliceblue;
    margin-top:80px;
}
.bie {
    color:#9acd32;
    font-size: 35px;

}
.conto { 
    position:relative; 
    margin-top: 150px;

}
.bia { font-size: 55px;

}
#ed {
    background-color: #9acd32;
}

#ed h1 {
    padding-top:45px ;
}
#ed p {
    font-size:30px;
}
.bio {
    font-size: 30px;
}
.biz { 
    font-size:30px;

}